{% extends "base.html" %} {% block content %}
<h1>{{ title }}</h1>
<form method="POST">
  {{ form.hidden_tag() }}
  <div class="mb-3">
    {{ form.accYear.label(class="form-label") }} {{
    form.accYear(class="form-control") }}
  </div>
  <div class="mb-3">
    {{ form.accMonth.label(class="form-label") }} {{
    form.accMonth(class="form-control") }}
  </div>
  <div class="mb-3">
    {{ form.accMember.label(class="form-label") }} {{
    form.accMember(class="form-select") }}
  </div>
  <div class="mb-3">
    {{ form.accPod.label(class="form-label") }} {{
    form.accPod(class="form-select") }}
  </div>
  <div class="mb-3">
    {{ form.accAmount.label(class="form-label") }} {{
    form.accAmount(class="form-control") }}
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
  <a href="{{ url_for('list_accounting') }}" class="btn btn-secondary"
    >Cancel</a
  >
</form>
{% endblock %}
