{% extends "base.html" %} {% block content %}
<h1>{{ title }}</h1>
<form method="POST">
  {{ form.hidden_tag() }}
  <div class="mb-3">
    {{ form.mfamount.label(class="form-label") }} {{
    form.mfamount(class="form-control") }}
  </div>
  <div class="mb-3">
    {{ form.mfYear.label(class="form-label") }} {{
    form.mfYear(class="form-control") }}
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
  <a href="{{ url_for('list_member_fees') }}" class="btn btn-secondary"
    >Cancel</a
  >
</form>
{% endblock %}
