{% extends "base.html" %} {% block content %}
<h1>{{ title }}</h1>

<h2>Member Information</h2>
<form method="POST">
  {{ member_form.hidden_tag() }}
  <div class="mb-3">
    {{ member_form.name.label(class="form-label") }} {{
    member_form.name(class="form-control") }}
  </div>
  <div class="mb-3">
    {{ member_form.firstname.label(class="form-label") }} {{
    member_form.firstname(class="form-control") }}
  </div>
  <div class="mb-3">
    {{ member_form.nationalId.label(class="form-label") }} {{
    member_form.nationalId(class="form-control") }}
  </div>
  <div class="mb-3">
    {{ member_form.address.label(class="form-label") }} {{
    member_form.address(class="form-control") }}
  </div>
  <div class="mb-3">
    {{ member_form.phoneNumber.label(class="form-label") }} {{
    member_form.phoneNumber(class="form-control") }}
  </div>
  <div class="mb-3">
    {{ member_form.email.label(class="form-label") }} {{
    member_form.email(class="form-control") }}
  </div>
  <div class="mb-3">
    {{ member_form.energyID.label(class="form-label") }} {{
    member_form.energyID(class="form-control") }}
  </div>
  <button type="submit" name="member_submit" class="btn btn-primary">
    Update Member
  </button>
  <a href="{{ url_for('list_members') }}" class="btn btn-secondary">Cancel</a>
</form>

<h2 class="mt-5">Manage Pods</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Label</th>
      <th>Type</th>
      <th>Pod Number</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <h3>Add New Pod</h3>
    <form method="POST">
      {{ pod_form.hidden_tag() }}
      <div class="mb-3">
        {{ pod_form.podlabel.label(class="form-label") }} {{
        pod_form.podlabel(class="form-control") }}
      </div>
      <div class="mb-3">
        {{ pod_form.podType.label(class="form-label") }} {{
        pod_form.podType(class="form-select") }}
      </div>
      <div class="mb-3">
        {{ pod_form.memberID.label(class="form-label") }} {{
        pod_form.memberID(class="form-select") }}
      </div>
      <div class="mb-3">
        {{ pod_form.podNumber.label(class="form-label") }} {{
        pod_form.podNumber(class="form-control") }}
      </div>
      <button type="submit" name="pod_submit" class="btn btn-primary">
        Add Pod
      </button>
      <a href="{{ url_for('list_members') }}" class="btn btn-secondary"
        >Cancel</a
      >
    </form>
  </tbody>
</table>
{% endblock %}
